.intro h2{
  color: red;
  font-size: 40px;
}

.intro p {
  color: green;
  font-size: 20px;
}

.intro img{
  float: right;
}

.clickable {
  cursor: pointer;
}

#initially-showing {
}


#initially-hidden {
  display: none;
  background-color: yellow;
  border: 2px solid red;
}
